body {
    margin: 0px;
}
.first-section {
    display: flex;
    padding-left: 60px;
}
.text-part {
    width: 50%;
    padding-top: 55px;
    padding-left: -10px;
    padding-left: 35px;
    
}
.text-part h1 {
    font-size: 45px;
    border-left: 3px solid #ff5959;
    height: 90px;
    padding-top: -11px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.text-part h1 span {
    color: #ff5959;
}
.text-part a {
    text-decoration: none;
    background-color: #ff5959;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px 8px 15px;
    font-weight: 700px;
    letter-spacing: 1px;
}
.image-part {
    width: 50%;
}
.image-part img {
    width: 48%;
    padding-left: 126px;
    padding-top: -16px;
}
.second-section {
    margin-bottom: 60px;
}
.second-section h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
.second-section h1 span {
    color: #ffad5a;
}
.three-part {
    display: flex;
    padding-right: 60px;
    padding-left: 60px;
}
.left-part {
    background-color: #edf5f6;
    width: 27%;
    padding-left: 12px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
}
.left-part img {
    height: 130px;
    width: 130px;
}
.middle-part {
    background-color: #ffeeee;
    width: 27%;
    padding-left: 12px;
    
    border-radius: 15px;
    padding: 20px;
}
.middle-part img {
    height: 130px;
    width: 130px;
}
.right-part {
    background-color: #fff4d6;
    width: 27%;
    padding-left: 12px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
}
.right-part img {
    height: 130px;
    width: 130px;
}
.third-section {
  margin-bottom: 50px;
}
.third-sec-div {
    display: flex;
}
.third-sec-left {
    width: 40%;
    padding-left: 0;
}
.third-sec-left img {
    height: 350px;
    width: 390px;
    padding-left: 90px;
}

.third-sec-right {
    width: 60%;
    padding-top: 30px;
}
.third-sec-right h1 {
    font-size: 30px;
}
.third-sec-right a {
    text-decoration: none;
    background-color: #ff5959;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px 8px 15px;
    font-weight: 700px;
    letter-spacing: 1px;
}
.fourth-section {
    padding-left: 90px;
}
.four-sec-div {
    display: flex;
}
.four-sec-left {
    width: 60%;
    margin-right: 70px;
    padding-top: 40px;
}
.four-sec-left a {
    text-decoration: none;
    background-color: #ff5959;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px 8px 15px;
    font-weight: 700px;
    letter-spacing: 1px;
}
.four-sec-right {
    width: 40%;
} 
.four-sec-right img {
    height: 350 px;
    width: 350px;
    margin-left: 15px;
}
