body {
    margin: 0px;
}
.first-section {
    display: flex;
    padding-left: 80px;
}
.text-part {
    width: 50%;
    padding-top: 55px;
    padding-left: -10px;
    padding-left: 35px;
    
}
.text-part h1 {
    font-size: 45px;
    border-left: 3px solid #ff5959;
    height: 90px;
    padding-top: -11px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.text-part h1 span {
    color: #ffad5a;
}
a {
    text-decoration: none;
    background-color: #ff5959;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px 8px 15px;
    font-weight: 700px;
    letter-spacing: 1px;
}
.image-part {
    width: 50%;
}
.image-part img {
    width: 48%;
    padding-left: 126px;
    padding-top: -16px;
}
.second-section {}
.second-section h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
.second-section h1 span {
    color: #ffad5a;
}
.three-part {
    display: flex;
    padding-right: 60px;
    padding-left: 60px;
}
.left-part {
    background-color: #edf5f6;
    width: 27%;
    padding-left: 12px;
    margin: 0 auto;
    border-radius: 15px;
}
.left-part img {
    height: 130px;
    width: 130px;
}
.middle-part {
    background-color: #ffeeee;
    width: 27%;
    padding-left: 12px;
    
    border-radius: 15px;
}
.middle-part img {
    height: 130px;
    width: 130px;
}
.right-part {
    background-color: #fff4d6;
    width: 27%;
    padding-left: 12px;
    margin: 0 auto;
    border-radius: 15px;
}
.right-part img {
    height: 130px;
    width: 130px;
}